@font-face {
    font-family: 'Futura';
    src: url('../fonts/FUL.ttf');
}

$font-family-sans-serif: 'Futura', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #CEB0A8;
$secondary: #0d6efd;